body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.main-color{
  color: #842029;
}

.hover{
  font-size: 17px;
  /* font-weight: 600; */
  color: rgb(116, 115, 115);
}
.hover:hover{
  color: #842029;
}